.container{
    max-width: 1728px;
    height: 2358px;
    /* border: solid black; */
    margin: 0 auto;
    background-color: green;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

/* header */
.header{
    width: 100%;
    height: 5%;
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    
}
.headerlogo{
    display: flex;
}
.logo1{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50%;
    animation-name: headerlogo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
@keyframes headerlogo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.hone{
    font-size: 30px;
    color: #4468E2;
    margin-top: 15px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
nav ul{
    display: flex;
    margin-left: 432px;
    margin-top: 20px;
}
nav ul li{
    display: flex;
    margin-left: 30px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
    font-size: 22px;
}
.li1 a{
    color: #1C4961;
}
li:hover{
    color: cyan;
    cursor: pointer;
}
li .li1 a:hover{
    color: cyan;
    cursor: pointer;
}
.button1{
    display: flex;
    border: solid black;
    padding: 6px 20px 6px 19px;
    margin-top: 15px;
    margin-left: 530px;
    border-radius: 25px;
}
.htwo{
    font-size: 20px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.button1:hover{
    cursor: pointer;
    background-color: #4468E2;
}
/* section1 */
.section1{
    width: 100%;
    height: 30%;
    background-image: url(../images/Sea.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hthree{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 277px;
    font-size: 70px;
    color: #FFFFFF;
}
/* skip-part */
.emptyspot{
    width: 100%;
    height: 3%;
    background-color: #FFFFFF;
}
/* section2 */
.section2{
    width: 100%;
    height: 50%;
    background-color: #FFFFFF;
}
.hfour{
    text-align: center;
    font-size: 40px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
    color: #000000;
}
.line1{
    width: 33%;
    display: flex;
    position: relative;
    margin-top: 30px;
}
.hfive{
    margin-left: 18px;
    font-size: 38px;
    color: #163235;
    position: absolute;
    margin-top: 420px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.p1{
    margin-left: 20px;
    color: #163235;
    position: absolute;
    margin-top: 470px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.hsix{
    margin-left: 580px;
    font-size: 38px;
    color: #163235;
    position: absolute;
    margin-top: 420px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.p2{
    margin-left: 580px;
    color: #163235;
    position: absolute;
    margin-top: 470px;
    width: 500px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.hseven{
    margin-left: 1150px;
    font-size: 38px;
    color: #163235;
    position: absolute;
    margin-top: 420px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.p3{
    margin-left: 1150px;
    color: #163235;
    position: absolute;
    margin-top: 470px;
    width: 500px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.image1{
    margin-top: 100px;
}
.height{
    margin-left: 20px;
    color: #163235;
    position: absolute;
    width: 500px;
    font-size: 38px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.p4{
    margin-left: 20px;
    margin-top: 60px;
    color: #163235;
    position: absolute;
    width: 500px;
    font-size: 20px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.p5{
    margin-left: 580px;
    color: #163235;
    position: absolute;
    margin-top: 60px;
    width: 500px;
    font-size: 20px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.hnine{
    margin-left: 580px;
    color: #163235;
    position: absolute;
    width: 500px;
    font-size: 38px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.hten{
    margin-left: 1150px;
    color: #163235;
    position: absolute;
    width: 500px;
    font-size: 38px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
.p6{
    margin-left: 1150px;
    color: #163235;
    position: absolute;
    margin-top: 60px;
    width: 500px;
    font-size: 20px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
}
/* skip 2 */
.emptyspot2{
    width: 100%;
    height: 3%;
    background-color: #FFFFFF;
}
/* foooter */
.footer{
    width: 100%;
    height: 9%;
    background-color: #FFFFFF;
    display: flex;
}
.box{
    width: 90%;
    height: 70%;
    border: 1px solid black;
    margin: 30px auto;
    position: relative;
    background-color: #E1E8F8;
}
.p7{
    margin-top: 60px;
    font-size: 24px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
    position: absolute;
}
.p8{
    display: inline;
    position: absolute;
    margin-left: 600px;
    font-size: 24px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
    margin-top: 60px;
}
.p8:hover{
    cursor: pointer;
}
.p9{
    display: inline;
    position: absolute;
    margin-left: 700px;
    font-size: 24px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
    margin-top: 60px;
}
.p9:hover{
    cursor: pointer;
}
.p10{
    display: inline;
    position: absolute;
    margin-left: 800px;
    font-size: 24px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
    margin-top: 60px;
}
.p10:hover{
    cursor: pointer;
}
.p11{
    display: inline;
    position: absolute;
    margin-left: 900px;
    font-size: 24px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
    margin-top: 60px;
}
.p11:hover{
    cursor: pointer;
}
.p12{
    display: inline;
    position: absolute;
    margin-left: 1010px;
    font-size: 24px;
    font-family: 'Proxima Nova Alt Lt', sans-serif;
    margin-top: 60px;
}
.p12:hover{
    cursor: pointer;
}
.fc{
    width: 500px;
    display: inline;
    position: absolute;
    margin-left: 1300px;
    font-size: 24px;
    margin-top: 60px;
}
.ln{
    width: 500px;
    display: inline;
    position: absolute;
    margin-left: 1400px;
    font-size: 24px;
    margin-top: 60px;
}
.in{
    width: 500px;
    display: inline;
    position: absolute;
    margin-left: 1500px;
    font-size: 24px;
    margin-top: 60px;
}


















